{
    "swagger": "2.0",
    "info": {
        "description": "Beneath are the full list of available API:s in your environment. Please use the tools below to try it out! Remember to activate the SwaggerUI client application in Medius([click here](../../#Administration/Medius.Core.Entities.Api.ClientApplication))",
        "title": "Medius Web API",
        "version": "1.0.0",
        "termsOfService": "http://www.medius.com"
    },
    "host": "cloud.mediusflow.com",
    "basePath": "/MainTenantManager",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "tags": [
        {
            "name": "Master data - import",
            "description": "Master data import used by the suite",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#master-data-import"
            }
        },
        {
            "name": "Master data - export",
            "description": "Companies and suppliers",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#exporting-data"
            }
        },
        {
            "name": "Transactional data - import",
            "description": "Purchase orders and goods receipt",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#master-data-import"
            }
        },
        {
            "name": "Transactional data - export",
            "description": "Purchase orders",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#exporting-data"
            }
        },
        {
            "name": "User import",
            "description": "User import",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#exporting-data"
            }
        },
        {
            "name": "AP Automation",
            "description": "Document import, supplier invoice message exchange",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#supplier-invoice-messages"
            }
        },
        {
            "name": "Procurement",
            "description": "Order and goods receipt postings, confirmations and send to supplier",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#procurement-messages"
            }
        },
        {
            "name": "Pay",
            "description": "Import of payment batches and reconciliation",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#payment-batch-import"
            }
        },
        {
            "name": "Supplier Management",
            "description": "",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://success.medius.com/documentation/integration-documentation/technical/rest/scenarios/#payment-batch-import"
            }
        },
        {
            "name": "File/media",
            "description": "Images and attachments"    
        }
    ],
    "definitions": {
        "IntegrationAccrualTemplateDto": {
            "type": "object",
            "xml": {
                "name": "AccrualTemplate"
            },
            "additionalProperties": false,
            "required": [
                "externalSystemId",
                "companyId",
                "isActive",
                "name"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    },
                    "maxLength": 450,
                    "description": "Source of entity"
                },
                "name": {
                    "type": "string",
                    "xml": {
                        "name": "Name"
                    },
                    "maxLength": 450,
                    "description": "Name of Accrual template"
                },
                "companyId": {
                    "type": "string",
                    "xml": {
                        "name": "CompanyId"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "accrualCodeString": {
                    "allOf": [
                        {
                            "$ref": "#/definitions/IntegrationCodingDimensionsDto"
                        }
                    ],
                    "xml": {
                        "name": "AccrualCodeString"
                    }
                },
                "accrualPeriods": {
                    "type": "array",
                    "xml": {
                        "name": "AccrualPeriods",
                        "wrapped": true
                    },
                    "items": {
                        "$ref": "#/definitions/IntegrationImportAccrualPeriodDto"
                    }
                },
                "isActive": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsActive"
                    },
                    "description": "If the entity is active or inactive"
                },
                "externalSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalSystemId"
                    },
                    "maxLength": 100,
                    "description": "Id reference in ERP, unique key between Medius and ERP"
                },
                "accrualErpIdentifier": {
                    "type": "string",
                    "xml": {
                        "name": "AccrualErpIdentifier"
                    },
                    "maxLength": 100,
                    "description": "ErpIdentifier for the accrual template"
                },
                "customField_Text1": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text1"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text2": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text2"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text3": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text3"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text4": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text4"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text5": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text5"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Numeric1": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric1"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric2": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric2"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric3": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric3"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric4": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric4"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric5": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric5"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Boolean1": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean1"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean2": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean2"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean3": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean3"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean4": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean4"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean5": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean5"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_DateTime1": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime1"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime2": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime2"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime3": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime3"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime4": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime4"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime5": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime5"
                    },
                    "description": "Custom Field of type datetime."
                }
            }
        },
        "IntegrationCodingDimensionsDto": {
            "type": "object",
            "additionalProperties": false,
            "xml": {
                "name": "Dimensions"
            },
            "properties": {
                "dimension1": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension1"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension2": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension2"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension3": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension3"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension4": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension4"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension5": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension5"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension6": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension6"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension7": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension7"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension8": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension8"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension9": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension9"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension10": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension10"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension11": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension11"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimension12": {
                    "type": "string",
                    "xml": {
                        "name": "Dimension12"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "freeText1": {
                    "type": "string",
                    "xml": {
                        "name": "FreeText1"
                    },
                    "maxLength": 200,
                    "description": "Custom field of type text."
                },
                "freeText2": {
                    "type": "string",
                    "xml": {
                        "name": "FreeText2"
                    },
                    "maxLength": 200,
                    "description": "Custom field of type text."
                },
                "freeText3": {
                    "type": "string",
                    "xml": {
                        "name": "FreeText3"
                    },
                    "maxLength": 200,
                    "description": "Custom field of type text."
                },
                "freeText4": {
                    "type": "string",
                    "xml": {
                        "name": "FreeText4"
                    },
                    "maxLength": 200,
                    "description": "Custom field of type text."
                },
                "freeText5": {
                    "type": "string",
                    "xml": {
                        "name": "FreeText5"
                    },
                    "maxLength": 200,
                    "description": "Custom field of type text."
                }
            }
        },
        "IntegrationImportAccrualPeriodDto": {
            "type": "object",
            "xml": {
                "name": "ImportAccrualPeriod"
            },
            "additionalProperties": false,
            "required": [
                "period",
                "percentage"
            ],
            "properties": {
                "period": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "Period"
                    },
                    "description": "Number of the period"
                },
                "percentage": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "Percentage"
                    },
                    "description": "Percentage of period. Decimal format (28,14)"
                }
            }
        },
        "BatchDto": {
            "type": "object",
            "additionalProperties": false,
            "required": [
                "itemsCount",
                "itemsSaved",
                "isSuccessful",
                "queueItemId"
            ],
            "properties": {
                "state": {
                    "type": "string",
                    "xml": {
                        "name": "State"
                    }
                },
                "details": {
                    "type": "string",
                    "xml": {
                        "name": "Details"
                    }
                },
                "itemsCount": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "ItemsCount"
                    }
                },
                "itemsSaved": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "ItemsSaved"
                    }
                },
                "isSuccessful": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsSuccessful"
                    }
                },
                "errorMessages": {
                    "type": "array",
                    "xml": {
                        "wrapped": true,
                        "name": "ErrorMessages"
                    },
                    "items": {
                        "type": "string",
                        "xml": {
                            "name": "String"
                        }
                    }
                },
                "errors": {
                    "type": "array",
                    "xml": {
                        "wrapped": true,
                        "name": "Errors"
                    },
                    "items": {
                        "$ref": "#/definitions/BatchErrorDto"
                    }
                },
                "queueItemId": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "QueueItemId"
                    }
                }
            }
        },
        "BatchErrorDto": {
            "type": "object",
            "additionalProperties": false,
            "required": [
                "validationTag"
            ],
            "properties": {
                "externalSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalSystemId"
                    }
                },
                "validationMessage": {
                    "type": "string",
                    "xml": {
                        "name": "ValidationMessage"
                    }
                },
                "ValidationTag": {
                    "$ref": "#/definitions/IntegrationErrorTag"
                }
            }
        },
        "IntegrationErrorTag": {
            "type": "integer",
            "description": "",
            "x-enumNames": [
                "UNKNOWN",
                "ACCOUNTING_CURRENY_MISSING",
                "ADVANCED_RESTRICTION_RULES_DATA_IS_INVALID",
                "ADVANCED_RESTRICTION_EXTERNAL_SYSTEM_ID_MISSING",
                "AT_LEAST_ONE_CODING_LINE_OF_TYPE_COST_IS_REQUIRED",
                "AUTHORIZATION_GROUP_NAME_MISSING",
                "AUTHORIZATION_GROUP_NOT_FOUND",
                "COMPANY_EXTERNAL_SYSTEM_ID_MISSING",
                "COMPANY_IS_ALREADY_IMPORTED_WITH_ANOTHER_ACCOUNTING_CURRENCY",
                "COMPANY_MISSING",
                "COMPANY_MISSING_ON_CONTROLLING_DIMENSION_VALUE",
                "COMPANY_NOT_FOUND",
                "COMPANY_RELATED_MUST_HAVE_COMPANY",
                "CONTROLLING_DIMENSION_VALUE_MISSING",
                "CONTROLLING_DIMENSION_VALUE_NOT_FOUND",
                "CONVERSION_FACTOR_MUST_BE_GREATER_THAN_ZERO",
                "COULD_NOT_FIND_ACCOUNTING_CURRENCY",
                "COULD_NOT_FIND_COMPANY_FOR_MASTERDATA",
                "COULD_NOT_FIND_COMPANY_IDENTIFIER_TYPE",
                "COULD_NOT_FIND_CONTACT_PERSON",
                "COULD_NOT_FIND_PARENT_COMPANY",
                "COULD_NOT_SAVE_RESTRICTIONS",
                "COULD_NOT_SAVE_RESTRICTIONS_AND_ROLLBACK",
                "CURRENCY_EXTERNAL_SYSTEM_ID_MISSING",
                "CURRENCY_IS_INACTIVE",
                "CURRENCY_MISSING",
                "CURRENCY_MISSING_ON_SUPPLIER_ITEM",
                "CURRENCY_MISSING_ON_SUPPLIER",
                "CURRENCY_NOT_FOUND",
                "CURRENCY_RATE_CODE_NOT_FOUND",
                "CURRENCY_RATE_CURRENCY_MISSING",
                "CURRENCY_RATE_DATE_IS_MISSING",
                "CURRENCY_RATE_NOT_FOUND",
                "CURRENCY_WITH_CODE_NOT_FOUND",
                "DATE_IS_NOT_IN_VALID_RANGE",
                "DELIVERY_NUMBER_MISSING",
                "DELIVERY_TERM_EXTERNAL_SYSTEM_ID_MISSING",
                "DELIVERY_TERM_NOT_FOUND",
                "DIFFERENT_TAX_CODE_SAME_CODE_ALREADY_EXISTS",
                "DIMENSION_DESCRIPTION_MISSING",
                "DIMENSION_MISSING",
                "DIMENSION_MISSING_ON_CONTROLLING_DIMENSION_VALUE",
                "DIMENSION_MISSING_ON_RESTRICTED_DIMENSION_VALUE",
                "DIMENSION_STRING_TAG_NOT_FOUND",
                "DIMENSION_VALUE_MISSING",
                "DIMENSION_VALUE_NOT_CONNECTED_WITH_PROPER_COMPANY",
                "DIMENSION_VALUE_NOT_FOUND_FOR_DIMENSION",
                "DIMENSION_DOES_NOT_EXIST_DIMENSION_NAME",
                "DIMENSION_VALUE_NOT_FOUND_DIM_EXTERNAL_SYSTEM_ID",
                "DUPLICATED_ROLES",
                "DOCUMENT_TYPE_REQUIRED",
                "END_VALUE_MISSING",
                "END_DATE_REQUIRED",
                "EXTERNAL_SYSTEM_ID_FOR_DIMENSION_VALUE_MISSING",
                "EXTERNAL_SYSTEM_ID_MISSING",
                "EXTERNAL_SYSTEM_ID_MISSING_FOR_TAX_GROUP",
                "EXTERNAL_SYSTEM_ID_MISSING_FOR_COMPANY",
                "FOLLOWUP_GROUP_NAME_MISSING",
                "FOLLOWUP_GROUP_NOT_FOUND",
                "INDICATOR_NUMBER1_ASSIGNED_TO_TAX_INDICATOR2",
                "INDICATOR_NUMBER2_ASSIGNED_TO_TAX_INDICATOR1",
                "INVALID_DATE",
                "INVALID_DIMENSION_SPECIFIED",
                "INVALID_DIMENSION_NAME",
                "INVALID_USER",
                "INVALID_ROLE",
                "INTEGRATION_MESSAGE_TYPE_REQUIRED",
                "ISSUE_WITH_SAVING_ITEM_PLEASE_REPROCESS",
                "MULTIPLE_RESTRICTIONS_DEFINED_FOR_DIMENSION_DIMENSION",
                "NAME_MISSING",
                "NO_RESTRICTED_DIMENSION_VALUES_PROVIDED",
                "ORDER_IDENTIFIER_MISSING",
                "PARENT_COMPANY_MISSING",
                "PAYMENT_TERM_EXTERNAL_SYSTEM_ID_MISSING",
                "PAYMENT_TERM_NOT_FOUND",
                "PRE_CODING_MISSING",
                "PURCHASE_ORDER_CANNOT_BE_IMPORTED_FOR_VIRTUAL_COMPANY",
                "PURCHASE_ORDER_CODING_LINES_CANNOT_BE_EMPTY",
                "PURCHASE_ORDER_WITH_IDENTIFIER_AND_COMPANY_ALREADY_EXIST",
                "RESPONSBILE_CONFIGURATION_MISSING",
                "RESTRICTED_DIMENSION_HAS_INCORRECT_DIMENSION_VALUE",
                "RESTRICTED_DIMENSION_VALUE_MISSING",
                "RESTRICTED_DIMENSION_MISSING",
                "RESTRICTED_DIMENSION_VALUE_NOT_FOUND_DIMENSION_VALUE",
                "RESTRICTED_DIMENSION_VALUE_NOT_FOUND_EXTERNAL_SYSTEM_ID",
                "RESTRICTED_DIMENSION_NOT_FOUND",
                "START_VALUE_MISSING",
                "START_DATE_REQUIRED",
                "SUPPLIER_EXTERNAL_SYSTEM_ID_MISSING",
                "SUPPLIER_MISSING",
                "SUPPLIER_MISSING_AND_CURRENCY_NOT_PROVIDED",
                "SUPPLIER_NOT_FOUND",
                "TAX_CODE_DEDUCTIBLE_MISSING_IN_TAXGROUP",
                "TAX_CODE_NOT_EXISTS",
                "TAX_CODE_PERCENTAGE_MISSING_IN_TAXGROUP",
                "TAX_GROUP_NOT_FOUND",
                "TAX_GROUP_WITH_DUPLICATED_TAX_CODES",
                "TAX_INDICATOR1_EXTERNAL_SYSTEM_ID_IS_MISSING",
                "TAX_INDICATOR1_EXTERNAL_SYSTEM_ID_NOT_FOUND",
                "TAX_INDICATOR2_EXTERNAL_SYSTEM_ID_IS_MISSING",
                "TAX_INDICATOR2_EXTERNAL_SYSTEM_ID_NOT_FOUND",
                "TAXGROUP_NOT_FOUND_FOR_COMPANY",
                "TEMPORARY_DELEGATION_RESPONSIBLE_MISSING",
                "TEMPORARY_DELEGATION_RESPONSIBLE_NOT_FOUND",
                "TRYING_TO_IMPORT_DIMENSION_VALUE_TO_WRONG_DIMENSION",
                "UNIT_IS_MISSING",
                "UNIT_NOT_FOUND",
                "UNIT_WITH_EXTERNAL_SYSTEM_ID_NOT_FOUND",
                "USER_COMPANY_MISSING",
                "USER_COMPANY_NOT_FOUND",
                "USER_DEFAULT_COMPANY_NOT_FOUND",
                "USER_IDENTIY_PROVIDER_NAME_MISSING",
                "USER_IDENTIY_PROVIDER_NAME_NOT_FOUND",
                "USER_NAME_MISSING",
                "USER_NOT_FOUND",
                "USER_ROLE_MISSING",
                "USER_ROLE_NOT_FOUND",
                "INVALID_UNIT",
                "ADVANCED_RESTRICTION_HAS_INVALID_DATA",
                "PAYMENT_DETAILS_EXTERNAL_SYSTEM_ID_NEEDS_TO_BE_UNIQUE",
                "PAYMENT_DETAILS_EXTERNAL_SYSTEM_ID_FOUND_ON_ANOTHER_SUPPLIER",
                "NUMBER_OF_MONTHS_OUTSIDE_THE_RANGE",
                "PAYMENT_TERM_WITH_IDENTIFIER_AND_COMPANY_ALREADY_EXIST",
                "PAYMENT_TERM_HAS_INVALID_DATA",
                "INTERFACE_MISMATCH",
                "SUPPLIER_ITEM_COMPANY_DOES_NOT_EXIST_IN_ITEM_COMPANY_TREE",
                "CURRENCY_MISMATCH_ON_PO",
                "INVALID_ORDER_TYPE",
                "ORDER_TYPE_CHANGE_ATTEMPT",
                "TWO_WAY_MATCHING_IMPORTING_GRS",
                "TWO_WAY_MATCHING_IMPORT_GR",
                "PURCHASE_ORDER_COMMENT_MISSING",
                "PURCHASE_ORDER_LINE_EXTERNAL_SYSTEM_ID_ALREADY_EXISTS",
                "PURCHASE_ORDER_LINE_NUMBER_ALREADY_EXISTS",
                "DELIVERY_LINE_EXTERNAL_SYSTEM_ID_ALREADY_EXISTS",
                "PURCHASE_ORDER_ALREADY_EXISTS",
                "PURCHASE_ORDER_CURRENCY_CHANGE_NOT_ALLOWED",
                "COULD_NOT_DELETE_RESTRICTIONS",
                "COULD_NOT_DELETE_RESTRICTIONS_AND_ROLLBACK",
                "CURRENCY_RATE_OUT_OF_RANGE",
                "CURRENCY_WITH_CODE_ALREADY_EXISTS",
                "PURCHASE_ORDER_LINE_SERVICE_BASED_FLAG_UPDATE_FAIL",
                "UPDATE_OF_DEFAULT_CURRENCY_IS_NOT_POSSIBLE",
                "NON_LEAF_LEVEL_CATEGORY",
                "PURCHASE_ORDER_TOO_MANY_IDENTIFIERS",
                "PURCHASE_ORDER_IDENTIFIERS_CONTAIN_DUPLICATES",
                "CATEGORY_NOT_FOUND",
                "COMPANY_ALREADY_EXIST",
                "SUPPLIER_ALREADY_EXIST",
                "LOCAL_DATETIME"
            ],
            "enum": [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42,
                43,
                44,
                45,
                46,
                47,
                48,
                49,
                50,
                51,
                52,
                53,
                54,
                55,
                56,
                57,
                58,
                59,
                60,
                61,
                62,
                63,
                64,
                65,
                66,
                67,
                68,
                69,
                70,
                71,
                72,
                73,
                74,
                75,
                76,
                77,
                78,
                79,
                80,
                81,
                82,
                83,
                84,
                85,
                86,
                87,
                88,
                89,
                90,
                91,
                92,
                93,
                94,
                95,
                96,
                97,
                98,
                99,
                100,
                101,
                102,
                103,
                104,
                105,
                106,
                107,
                108,
                109,
                110,
                111,
                112,
                113,
                114,
                115,
                116,
                117,
                118,
                119,
                120,
                121,
                122,
                123,
                124,
                125,
                126,
                127,
                128,
                129,
                130,
                131,
                132,
                133,
                134,
                135,
                136,
                137,
                138,
                139,
                140,
                141,
                142,
                143,
                144,
                145,
                146,
                147,
                148,
                149
            ]
        },
        "ActualPaymentDateResponseDto": {
            "type": "object",
            "xml": {
                "name": "ActualPaymentDateResponse"
            },
            "additionalProperties": false,
            "properties": {
                "actualPaymentDate": {
                    "$ref": "#/definitions/IntegrationActualPaymentDateDto"
                },
                "correlationKey": {
                    "type": "string",
                    "xml": {
                        "name": "CorrelationKey"
                    }
                }
            }
        },
        "IntegrationActualPaymentDateDto": {
            "type": "object",
            "xml": {
                "name": "ActualPaymentDate"
            },
            "additionalProperties": false,
            "required": [
                "actualPaymentDate"
            ],
            "properties": {
                "customField_Boolean1": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean1"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean2": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean2"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean3": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean3"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean4": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean4"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean5": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean5"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Numeric1": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric1"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric2": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric2"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric3": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric3"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric4": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric4"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric5": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric5"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Text1": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text1"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text2": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text2"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text3": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text3"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text4": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text4"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text5": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text5"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_DateTime1": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime1"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime2": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime2"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime3": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime3"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime4": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime4"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime5": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime5"
                    },
                    "description": "Custom Field of type datetime."
                },
                "actualPaymentDate": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "ActualPaymentDate"
                    }
                }
            }
        },
        "StatusLink": {
            "type": "object",
            "xml": {
                "name": "StatusLink"
            },
            "additionalProperties": false,
            "properties": {
                "ref": {
                    "type": "string",
                    "xml": {
                        "name": "Ref"
                    }
                },
                "status": {
                    "type": "string",
                    "xml": {
                        "name": "Status"
                    }
                }
            }
        },
        "CompanyExportPageDto": {
            "type": "object",
            "xml": {
                "name": "CompanyPage"
            },
            "additionalProperties": false,
            "required": [
                "total",
                "offset",
                "limit"
            ],
            "properties": {
                "total": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "Total"
                    }
                },
                "offset": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "Offset"
                    }
                },
                "limit": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "Limit"
                    }
                },
                "companies": {
                    "type": "array",
                    "xml": {
                        "wrapped": true,
                        "name": "Companies"
                    },
                    "items": {
                        "$ref": "#/definitions/CompanyDto"
                    }
                },
                "paging": {
                    "$ref": "#/definitions/Paging"
                }
            }
        },
        "CompanyDto": {
            "type": "object",
            "xml": {
                "name": "Company"
            },
            "additionalProperties": false,
            "required": [
                "isVirtualCompany",
                "isActive"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    }
                },
                "name": {
                    "type": "string",
                    "xml": {
                        "name": "Name"
                    }
                },
                "externalDisplayName": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalDisplayName"
                    }
                },
                "companyId": {
                    "type": "string",
                    "xml": {
                        "name": "CompanyId"
                    }
                },
                "organizationNumber": {
                    "type": "string",
                    "xml": {
                        "name": "OrganizationNumber"
                    }
                },
                "parentCompany": {
                    "type": "string",
                    "xml": {
                        "name": "ParentCompany"
                    }
                },
                "isVirtualCompany": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsVirtualCompany"
                    }
                },
                "identifiers": {
                    "type": "array",
                    "xml": {
                        "wrapped": true,
                        "name": "Identifiers"
                    },
                    "items": {
                        "$ref": "#/definitions/IdentifierDto"
                    }
                },
                "addresses": {
                    "type": "array",
                    "xml": {
                        "wrapped": true,
                        "name": "Addresses"
                    },
                    "items": {
                        "$ref": "#/definitions/AddressDto"
                    }
                },
                "isActive": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsActive"
                    }
                },
                "mediusFlowSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "MediusFlowSystemId"
                    }
                },
                "globalId": {
                    "type": "string",
                    "xml": {
                        "name": "GlobalId"
                    }
                }
            }
        },
        "IdentifierDto": {
            "type": "object",
            "xml": {
                "name": "Identifier"
            },
            "additionalProperties": false,
            "properties": {
                "identifierType": {
                    "type": "string",
                    "xml": {
                        "name": "IdentifierType"
                    }
                },
                "value": {
                    "type": "string",
                    "xml": {
                        "name": "Value"
                    }
                }
            }
        },
        "AddressDto": {
            "type": "object",
            "xml": {
                "name": "Address"
            },
            "additionalProperties": false,
            "properties": {
                "addressType": {
                    "type": "string",
                    "xml": {
                        "name": "AddressType"
                    }
                },
                "name": {
                    "type": "string",
                    "xml": {
                        "name": "Name"
                    }
                },
                "streetAddress": {
                    "type": "string",
                    "xml": {
                        "name": "StreetAddress"
                    }
                },
                "state": {
                    "type": "string",
                    "xml": {
                        "name": "State"
                    }
                },
                "zip": {
                    "type": "string",
                    "xml": {
                        "name": "Zip"
                    }
                },
                "country": {
                    "type": "string",
                    "xml": {
                        "name": "Country"
                    }
                },
                "city": {
                    "type": "string",
                    "xml": {
                        "name": "City"
                    }
                },
                "telephone": {
                    "type": "string",
                    "xml": {
                        "name": "Telephone"
                    }
                },
                "fax": {
                    "type": "string",
                    "xml": {
                        "name": "Fax"
                    }
                },
                "homepage": {
                    "type": "string",
                    "xml": {
                        "name": "Homepage"
                    }
                },
                "email": {
                    "type": "string",
                    "xml": {
                        "name": "Email"
                    }
                }
            }
        },
        "Paging": {
            "type": "object",
            "xml": {
                "name": "Paging"
            },
            "additionalProperties": false,
            "properties": {
                "previous": {
                    "type": "string",
                    "xml": {
                        "name": "Previous"
                    }
                },
                "next": {
                    "type": "string",
                    "xml": {
                        "name": "Next"
                    }
                }
            }
        },
        "IntegrationCompanyDto": {
            "type": "object",
            "xml": {
                "name": "Company"
            },
            "additionalProperties": false,
            "required": [
                "externalSystemId",
                "accountingCurrencyCode",
                "companyId",
                "isVirtual",
                "isActive",
                "name",
                "organizationNumber",
                "parent"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    },
                    "maxLength": 450,
                    "description": "Source of entity"
                },
                "externalSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalSystemId"
                    },
                    "maxLength": 100,
                    "description": "Id reference in ERP, unique key between Medius and ERP"
                },
                "customField_Text1": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text1"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text2": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text2"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text3": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text3"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text4": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text4"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text5": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text5"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Numeric1": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric1"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric2": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric2"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric3": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric3"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric4": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric4"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric5": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric5"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Boolean1": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean1"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean2": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean2"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean3": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean3"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean4": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean4"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean5": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean5"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_DateTime1": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime1"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime2": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime2"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime3": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime3"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime4": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime4"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime5": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime5"
                    },
                    "description": "Custom Field of type datetime."
                },
                "name": {
                    "type": "string",
                    "xml": {
                        "name": "Name"
                    },
                    "maxLength": 100,
                    "description": "Company name."
                },
                "organizationNumber": {
                    "type": "string",
                    "xml": {
                        "name": "OrganizationNumber"
                    },
                    "maxLength": 100,
                    "description": "Organization number for company."
                },
                "parent": {
                    "type": "string",
                    "xml": {
                        "name": "Parent"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to parent company in Medius."
                },
                "isVirtual": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsVirtual"
                    },
                    "description": "Identifies if company is a virtual or real company in Medius."
                },
                "isActive": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsActive"
                    },
                    "description": "If the entity is active or inactive"
                },
                "companyId": {
                    "type": "string",
                    "xml": {
                        "name": "CompanyId"
                    },
                    "maxLength": 100,
                    "description": "Unique company identifier"
                },
                "accountingCurrencyCode": {
                    "type": "string",
                    "xml": {
                        "name": "AccountingCurrencyCode"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding Currency."
                },
                "companyIdentifiers": {
                    "type": "array",
                    "xml": {
                        "wrapped": true,
                        "name": "CompanyIdentifiers"
                    },
                    "items": {
                        "$ref": "#/definitions/IntegrationCompanyIdentifierDto"
                    }
                }
            }
        },
        "IntegrationCompanyIdentifierDto": {
            "type": "object",
            "xml": {
                "name": "CompanyIdentifier"
            },
            "additionalProperties": false,
            "properties": {
                "identifierType": {
                    "type": "string",
                    "xml": {
                        "name": "IdentifierType"
                    },
                    "maxLength": 450,
                    "description": "See list of available values for the identifier type. In GUI they are named differently, eg. Bank Account for BANK_ACCOUNT",
                    "enum": [
                        "BANK_ACCOUNT",
                        "ORGANIZATION_NUMBER",
                        "VAT_REGISTRATION_NUMBER",
                        "GLN_NUMBER",
                        "IBAN_NUMBER",
                        "OTHER",
                        "ExternalSystemIdentifier",
                        "CompanyNameIdentifier",
                        "CompanyIdIdentifier"
                    ]
                },
                "identifierValue": {
                    "type": "string",
                    "xml": {
                        "name": "IdentifierValue"
                    },
                    "maxLength": 450,
                    "description": "Identifier value, e.g. bank account number"
                }
            }
        },
        "IntegrationCurrencyDto": {
            "type": "object",
            "xml": {
                "name": "Currency"
            },
            "additionalProperties": false,
            "required": [
                "externalSystemId",
                "code",
                "isActive"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    },
                    "maxLength": 450,
                    "description": "Source of entity"
                },
                "externalSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalSystemId"
                    },
                    "maxLength": 100,
                    "description": "Id reference in ERP, unique key between Medius and ERP"
                },
                "customField_Text1": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text1"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text2": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text2"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text3": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text3"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text4": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text4"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text5": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text5"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Numeric1": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric1"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric2": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric2"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric3": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric3"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric4": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric4"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric5": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric5"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Boolean1": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean1"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean2": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean2"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean3": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean3"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean4": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean4"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean5": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean5"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_DateTime1": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime1"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime2": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime2"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime3": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime3"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime4": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime4"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime5": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime5"
                    },
                    "description": "Custom Field of type datetime."
                },
                "code": {
                    "type": "string",
                    "xml": {
                        "name": "Code"
                    },
                    "maxLength": 10,
                    "description": "ISO Code of currency"
                },
                "isActive": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsActive"
                    },
                    "description": "If the entity is active or inactive"
                }
            }
        },
        "IntegrationCurrencyRateDto": {
            "type": "object",
            "xml": {
                "name": "CurrencyRate"
            },
            "additionalProperties": false,
            "required": [
                "externalSystemId",
                "code",
                "companyId",
                "rate",
                "startDate"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    },
                    "maxLength": 450,
                    "description": "Source of entity"
                },
                "externalSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalSystemId"
                    },
                    "maxLength": 100,
                    "description": "Id reference in ERP, unique key between Medius and ERP"
                },
                "customField_Text1": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text1"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text2": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text2"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text3": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text3"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text4": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text4"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text5": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text5"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Numeric1": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric1"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric2": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric2"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric3": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric3"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric4": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric4"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric5": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric5"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Boolean1": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean1"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean2": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean2"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean3": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean3"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean4": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean4"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean5": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean5"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_DateTime1": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime1"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime2": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime2"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime3": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime3"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime4": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime4"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime5": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime5"
                    },
                    "description": "Custom Field of type datetime."
                },
                "companyId": {
                    "type": "string",
                    "xml": {
                        "name": "CompanyId"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "code": {
                    "type": "string",
                    "xml": {
                        "name": "Code"
                    },
                    "maxLength": 10,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "rate": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "Rate"
                    },
                    "description": "Currency rate. Decimal format (28,14). In 'to-format', e.g. Invoice currency * rate = Accounting currency"
                },
                "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "StartDate"
                    },
                    "description": "Start date of currency"
                },
                "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "EndDate"
                    },
                    "description": "End date of currency. If not provided, default = 9999-01-01 (YYYY-MM-DD)"
                }
            }
        },
        "IntegrationDeliveryTermDto": {
            "type": "object",
            "xml": {
                "name": "DeliveryTerm"
            },
            "additionalProperties": false,
            "required": [
                "externalSystemId",
                "companyId",
                "deliveryTermId",
                "isActive"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    },
                    "maxLength": 450,
                    "description": "Source of entity"
                },
                "externalSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalSystemId"
                    },
                    "maxLength": 100,
                    "description": "Id reference in ERP, unique key between Medius and ERP"
                },
                "customField_Text1": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text1"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text2": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text2"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text3": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text3"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text4": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text4"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text5": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text5"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Numeric1": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric1"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric2": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric2"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric3": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric3"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric4": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric4"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric5": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric5"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Boolean1": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean1"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean2": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean2"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean3": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean3"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean4": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean4"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean5": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean5"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_DateTime1": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime1"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime2": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime2"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime3": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime3"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime4": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime4"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime5": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime5"
                    },
                    "description": "Custom Field of type datetime."
                },
                "isActive": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsActive"
                    },
                    "description": "If the entity is active or inactive"
                },
                "companyId": {
                    "type": "string",
                    "xml": {
                        "name": "CompanyId"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "deliveryTermId": {
                    "type": "string",
                    "xml": {
                        "name": "DeliveryTermId"
                    },
                    "maxLength": 100,
                    "description": "Unique identifier of the term"
                },
                "name": {
                    "type": "string",
                    "xml": {
                        "name": "Name"
                    },
                    "maxLength": 450,
                    "description": "Name of delivery term"
                },
                "description": {
                    "type": "string",
                    "xml": {
                        "name": "Description"
                    },
                    "maxLength": 450,
                    "description": "Description of the delivery term"
                },
                "forceLocation": {
                    "type": "boolean",
                    "xml": {
                        "name": "ForceLocation"
                    },
                    "description": "If usage of the delivery term requires the user to enter a location, e.g., for CIP."
                }
            }
        },
        "IntegrationDimensionValueConfigurationDto": {
            "type": "object",
            "xml": {
                "name": "DimensionValueConfiguration"
            },
            "additionalProperties": false,
            "required": [
                "company",
                "dimensionValue"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    },
                    "maxLength": 450,
                    "description": "Source of entity"
                },
                "company": {
                    "type": "string",
                    "xml": {
                        "name": "Company"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "responsible": {
                    "type": "string",
                    "xml": {
                        "name": "Responsible"
                    },
                    "maxLength": 60,
                    "description": "Id reference in ERP, unique key between Medius and ERP. Needs to be User.Username in Medius, *Can be empty if ResponsibleRole is used"
                },
                "responsibleRole": {
                    "type": "string",
                    "xml": {
                        "name": "ResponsibleRole"
                    },
                    "maxLength": 60,
                    "description": "Same as Responsible, but instead of User name it is Role name. Needs to be Role.Name in Medius, *Can be used instead of Responsible"
                },
                "dimensionValue": {
                    "type": "string",
                    "xml": {
                        "name": "DimensionValue"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "responsibles": {
                    "type": "array",
                    "description": "Beta feature. Only available for Pilot customers.",
                    "xml": {
                        "wrapped": true,
                        "name": "Responsibles"
                    },
                    "items": {
                        "$ref": "#/definitions/IntegrationDimensionValueConfigurationResponsibleDto"
                    }
                }
            }
        },
        "IntegrationDimensionValueConfigurationResponsibleDto": {
            "type": "object",
            "description": "Beta feature. Only available for Pilot customers.",
            "xml": {
                "name": "DimensionValueConfigurationResponsible"
            },
            "additionalProperties": false,
            "required": [
                "orderId"
            ],
            "properties": {
                "responsibleUser": {
                    "type": "string",
                    "xml": {
                        "name": "ResponsibleUser"
                    },
                    "description": "Beta feature. Only available for Pilot customers."
                },
                "responsibleRole": {
                    "type": "string",
                    "xml": {
                        "name": "ResponsibleRole"
                    },
                    "description": "Beta feature. Only available for Pilot customers."
                },
                "orderId": {
                    "type": "integer",
                    "format": "int32",
                    "xml": {
                        "name": "OrderId"
                    },
                    "description": "Beta feature. Only available for Pilot customers."
                }
            }
        },
        "IntegrationDimensionValueDto": {
            "type": "object",
            "xml": {
                "name": "DimensionValue"
            },
            "additionalProperties": false,
            "required": [
                "externalSystemId",
                "companyId",
                "description",
                "dimensionName",
                "isActive",
                "value"
            ],
            "properties": {
                "erpSourceId": {
                    "type": "string",
                    "xml": {
                        "name": "ErpSourceId"
                    },
                    "maxLength": 450,
                    "description": "Source of entity"
                },
                "externalSystemId": {
                    "type": "string",
                    "xml": {
                        "name": "ExternalSystemId"
                    },
                    "maxLength": 100,
                    "description": "Id reference in ERP, unique key between Medius and ERP"
                },
                "customField_Text1": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text1"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text2": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text2"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text3": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text3"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text4": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text4"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Text5": {
                    "type": "string",
                    "xml": {
                        "name": "CustomField_Text5"
                    },
                    "maxLength": 450,
                    "description": "Custom field of type text."
                },
                "customField_Numeric1": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric1"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric2": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric2"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric3": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric3"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric4": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric4"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Numeric5": {
                    "type": "number",
                    "format": "decimal",
                    "xml": {
                        "name": "CustomField_Numeric5"
                    },
                    "description": "Custom field of type numeric. Decimal format (28,14)."
                },
                "customField_Boolean1": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean1"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean2": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean2"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean3": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean3"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean4": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean4"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_Boolean5": {
                    "type": "boolean",
                    "xml": {
                        "name": "CustomField_Boolean5"
                    },
                    "description": "Custom field of type bit."
                },
                "customField_DateTime1": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime1"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime2": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime2"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime3": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime3"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime4": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime4"
                    },
                    "description": "Custom Field of type datetime."
                },
                "customField_DateTime5": {
                    "type": "string",
                    "format": "date-time",
                    "xml": {
                        "name": "CustomField_DateTime5"
                    },
                    "description": "Custom Field of type datetime."
                },
                "isActive": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsActive"
                    },
                    "description": "If the entity is active or inactive"
                },
                "companyId": {
                    "type": "string",
                    "xml": {
                        "name": "CompanyId"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity"
                },
                "dimensionName": {
                    "type": "string",
                    "xml": {
                        "name": "DimensionName"
                    },
                    "maxLength": 450,
                    "description": "Define the dimension order. Values: DIMENSION1, DIMENSION2, …, DIMENSION12"
                },
                "description": {
                    "type": "string",
                    "xml": {
                        "name": "Description"
                    },
                    "maxLength": 100,
                    "description": "Description of the dimension value"
                },
                "value": {
                    "type": "string",
                    "xml": {
                        "name": "Value"
                    },
                    "maxLength": 50,
                    "description": "The dimension value"
                },
                "taxIndicator1": {
                    "type": "string",
                    "xml": {
                        "name": "TaxIndicator1"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity (TaxGroup)"
                },
                "taxIndicator2": {
                    "type": "string",
                    "xml": {
                        "name": "TaxIndicator2"
                    },
                    "maxLength": 100,
                    "description": "ExternalSystemId to corresponding entity (TaxGroup)"
                },
                "isFictive": {
                    "type": "boolean",
                    "xml": {
                        "name": "IsFictive"
                    },
                    "description": "If the entity is fictive or not"
                },
                "usableInPurchase": {
                    "type": "boolean",
                    "xml": {
                        "name": "UsableInPurchase"
                    },
                    "description": "Is dimension usable in Medius Buy"
                }
            }
        },
        "FileLink": {
            "type": "object",
            "xml": {
                "name": "FileLink"
            },
            "additionalProperties": false,
            "properties": {
                "ref": {
                    "type": "string",
                    "xml": {
                        "name": "Ref"
                    }
                },
                "fileName": {
                    "type": "string",
                    "xml": {
                        "name": "FileName"
                    }
                },
                "classification": {
                    "type": "string",
                    "xml": {
                        "name": "Classification"
                    }
                }
            }
        },
        "ErrorResponseDto": {
            "type": "object",
            "xml": {
                "name": "ErrorResponse"
            },
            "additionalProperties": false,
            "properties": {
                "errors": {
                    "type": "array",
[...]
